---
- name: Syslog | Create initial pgpool logfile
  file:
    path: "{{ pgpool_logdir }}/pgpool.log"
    mode: 0775
    state: touch
    owner: "{{ pgpool_user }}"
    group: "{{ pgpool_group }}"
  tags: ['molecule-idempotence-notest']

- name: Syslog | Create logrotate configuration
  template:
    src: pgpool.logrotate.j2
    dest: /etc/logrotate.d/pgpool
    mode: 0644

- name: Syslog | Update syslog facility
  lineinfile:
    path: /etc/systemd/system/multi-user.target.wants/pgpool2.service
    regex: ^SyslogFacility=
    line: SyslogFacility={{ pgpool_syslog_facility | lower }}
    mode: 0644
  notify: reload pgpool2

- name: Syslog | Patch rsyslog obsolete configuration
  lineinfile:
    path: /etc/rsyslog.conf
    regex: "{{ item }}"
    state: absent
    mode: 0644
  loop:
    - FileOwner
    - FileGroup
    - FileCreateMode
    - DirCreateMode
    - Umask
    - PrivDropToUser
    - PrivDropToGroup
  when: pgpool_patch_syslog is defined and pgpool_patch_syslog | bool
  notify: restart rsyslog

- name: Syslog | Update rsyslog configuration
  template:
    src: rsyslog.pgpool.conf.j2
    dest: /etc/rsyslog.d/pgpool.conf
    mode: 0644
  notify: restart rsyslog
