# this is required when running sudo over ssh without -t:
Defaults:{{ pgpool_user }} !requiretty
{{ pgpool_user }} ALL = NOPASSWD: /usr/bin/systemctl start pgpool2, \
  /usr/bin/systemctl stop pgpool2, \
  /usr/bin/systemctl status pgpool2, \
  /usr/bin/systemctl reload pgpool2, \
  /usr/bin/systemctl restart pgpool2,
  systemctl start pgpool2,
  systemctl stop pgpool2, \
  systemctl status pgpool2, \
  systemctl reload pgpool2, \
  systemctl restart pgpool2
