# this is required when running sudo over ssh without -t:
Defaults:{{ pgpool_user }} !requiretty
%{{ pgpool_group }} ALL = NOPASSWD: {{ pgpool_systemctl_path }}/systemctl start pgpool2, \
  {{ pgpool_systemctl_path }}/systemctl stop pgpool2, \
  {{ pgpool_systemctl_path }}/systemctl status pgpool2, \
  {{ pgpool_systemctl_path }}/systemctl reload pgpool2, \
  {{ pgpool_systemctl_path }}/systemctl restart pgpool2, \
  {{ pgpool_if_cmd_path }}/ip, \
  {{ pgpool_arping_path }}/arping
